{% extends 'base.html' %}
{% include 'nav.html'%}


{% block title %} Vinyl Island | Contact US {% endblock %}



{% block body %}

<div class="container-md">
    <div class="row">

<h1>Contact Us</h1>

    <div class="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis est leo. Duis ornare porttitor nisl, quis interdum nulla egestas congue. Fusce malesuada mauris euismod nisl bibendum imperdiet a id augue. Nulla nec aliquet urna, sit amet lacinia elit. Cras vel cursus nulla, et aliquam diam. 
        </p>
       
       

        
    </div>

    </div>
</div>


{% endblock %}