{% extends 'base.html' %}
{% include 'nav.html'%}

{% block title %} Vinyl Island | Collecting Resources {% endblock %}



{% block body %}
<div class="container-md">
    <div class="row">

<h1>Useful Collecting Resources</h1>

    <div class="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis est leo. Duis ornare porttitor nisl, quis interdum nulla egestas congue. Fusce malesuada mauris euismod nisl bibendum imperdiet a id augue. Nulla nec aliquet urna, sit amet lacinia elit. Cras vel cursus nulla, et aliquam diam. Praesent dignissim odio vel scelerisque hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam orci risus, tincidunt ut nulla vel, iaculis tristique dolor. Vivamus ut tortor id sem mattis lacinia. Donec commodo arcu eget sem congue elementum.
        </p>
        <p>Maecenas sit amet nunc a augue egestas hendrerit a sit amet lorem. Nunc quam ex, tristique ut auctor sit amet, luctus a tortor. Donec ullamcorper eleifend eros, sed venenatis odio placerat volutpat. Duis pellentesque, nunc vitae pretium lacinia, dolor lectus efficitur nibh, nec placerat magna lectus sodales massa. Proin eget tincidunt ante. Aliquam velit ex, laoreet vel mattis sed, luctus non lectus. Maecenas in tellus gravida, lacinia elit ut, pellentesque dui.
        </p>

    </div>

    </div>
</div>

{% include 'footer.html'%}

{% endblock %}